h1 {
  font-family: 'Concert One', cursive;
}

.big {
    background-color: #7DCEA0;
    box-sizing: border-box;
    position: relative;
    width: 600px;
    height: 300px;
    border: 7px solid #D0D3D4;
    margin: 5em 4em 3em 2em;

}

.small1 {
    position: absolute;
    box-sizing: border-box;
    top: 85px;
    right: 0;
    width: 70px;
    height: 120px;
    border: 3px solid white;

}

.small2 {
  position: absolute;
  box-sizing: border-box;
  top:85px;
  right: -1;
  width: 70px;
  height: 120px;
  border:3px solid white;

}

.circle {
  position:fixed;
  box-sizing: border-box;
  left: 270px;
  top: 225px;
  width: 130px;
  height: 130px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #7DCEA0;
  border: 3px solid white;
}

.ball1 {
  position:fixed;
  box-sizing: border-box;
  left: 340px;
  top: 180px;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: white;
}

.ball2 {
  position:fixed;
  box-sizing: border-box;
  left: 105px;
  top: 232px;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: white;
}

.ball3 {
  position:fixed;
  box-sizing: border-box;
  left: 544px;
  top: 323px;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: white;
}
