h1 {
  text-align: center;
  font-family: 'Concert One', cursive;
}

.big {
    align-content: center;
    background-color: #8cb27c;
    box-sizing: border-box;
    position: relative;
    width: 600px;
    height: 300px;
    border: 7px solid #8cb27c;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

}

.small1 {
    position: absolute;
    box-sizing: border-box;
    top: 85px;
    right: 10px;
    width: 70px;
    height: 120px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;

}

.small2 {
  position: absolute;
  box-sizing: border-box;
  top:85px;
  left: 10px;
  width: 70px;
  height: 120px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;

}

.circle {
  position:fixed;
  box-sizing: border-box;
  left: 620px;
  top: 245px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #8cb27c;
  border: 3px solid white;
}

.ball1 {
  position:fixed;
  box-sizing: border-box;
  right: 475px;
  top: 340px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
}

.ball2 {
  position:fixed;
  box-sizing: border-box;
  left: 457px;
  top: 252px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
}

.ball3 {
  position:fixed;
  box-sizing: border-box;
  left: 690px;
  top: 205px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
}

p {
  margin: 10px;
  color: #8cb27c;
  height: 260px;
  border: 2px solid white;

}
